{% extends 'base.html' %}

{% block titulo %}
Mandados de Segurança
{% endblock %}

{% block conteudo %}



<style>

/* Estilos da div personalizada */

.my-custom-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos dos botões personalizados */
.btn-custom {
    color: #fff; /* Cor do texto */
    background-color: #4caf50; /* Cor de fundo */
    border: none; /* Removendo borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 10px; /* Margem horizontal entre os botões */
}

.btn-custom2 {
    color: #fff; /* Cor do texto */
    background-color: #01c5f5; /* Cor de fundo */
    border: none; /* Removendo borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    margin: 0 10px; /* Margem horizontal entre os botões */
}

.btn-custom:hover {
    background-color: #388e3c; /* Cor de fundo no hover */
}

.btn-custom2:hover {
    background-color: #2296B2; /* Cor de fundo no hover */
}

.btn-custom i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.panel-heading {
    height: 5rem;
}

</style>

<div style="margin-top: 10px;">
    <div class="container-fluid container-card p-3 mt-2">
      <div class="row" style="margin-top: 10px; display: flex; justify-content: center;">


        <div class="col-lg-2 col-6 p-2">
          <div class="small-box bg-primary text-white border-0 shadow card-fixed-height">
            <div class="inner text-center p-2">
              <h4 class="text-sm">Tarefas pendentes</h4> 
              <p class="text-sm"></p>
                <h2>{{tarefas_pendentes}}</h2>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/tarefas-pendentes" class="small-box-footer">Listar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 p-2">
          <div class="small-box bg-warning text-white border-0 shadow card-fixed-height">
            <div class="inner text-center p-2"> 
              <h4 class="text-sm">Tarefas sem responsável</h4> 
              <p class="text-sm"></p> 
                <h2>{{tarefas_sem_responsavel}}</h2>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/tarefas-sem-responsavel" class="small-box-footer">Listar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 p-2">
          <div class="small-box text-white border-0 shadow card-fixed-height" style="background-color: #33c223;">
            <div class="inner text-center p-2">
              <h4 class="text-sm">Tarefas concluídas</h4>
              <p class="text-sm"></p>
                <h2>{{tarefas_concluídas}}</h2>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/tarefas-concluidas" class="small-box-footer">Listar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 p-2">
          <div class="small-box bg-danger text-white border-0 shadow card-fixed-height">
            <div class="inner text-center p-2"> 
              <h4 class="text-sm">Urgentes</h4> 
              <p class="text-sm"></p> 
                <h2>{{urgentes}}</h2>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Listar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 p-2">
          <div class="small-box bg-success text-white border-0 shadow card-fixed-height">
            <div class="inner text-center p-2"> 
              <h4 class="text-sm">Processos finalizados</h4> 
              <p class="text-sm"></p> 
                <h2>{{finalizados}}</h2>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/processos-finalizados" class="small-box-footer">Listar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
</div>



<div class="d-flex mt-2 mb-2 container-card">
    <div>
        <a class="btn btn-custom" href="/cadastrar-processo" type="button">
            <i class="fa-solid fa-plus"></i> Novo Processo
        </a>
    </div>
    <div>
        <a class="btn btn-custom2" href="puxar_processo" type="button">
            <i class="fa-solid fa-download"></i> Puxar próximo
        </a>
    </div>
</div>

<div class="container-card">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#tabela_principal" data-bs-toggle="tab">Processos Pendentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#meus_processos" data-bs-toggle="tab">Meus Processos</a>
      </li>
    </ul>

    <div class="tab-content">
        <div id="tabela_principal" class="tab-pane show active">
            <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
                <div class="table-responsive">
                    <table id="tabela" class="table table-striped table-hover table-borderless table-sm table align-middle compact" style="width:100%">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Processo Judicial</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Cpf</th>
                                <th scope="col">Tipo de Determinação</th>
                                <th scope="col">Protocolo PAT</th>
                                <th scope="col">Status PAT</th>
                                <th scope="col">Nome do Responsável</th>
                                <th scope="col">Nome do Serviço</th>
                                <th scope="col">Unidade da Tarefa</th>
                                <th scope="col">Autoridade Coatora</th>
                                <th scope="col">Fase da Demanda</th>
                                <th scope="col">Prioridade</th>
                                <th scope="col">Data Final Prazo</th>
                                <th scope="col">Data de Cadastro</th>
                                <th scope="col">Responsável Demanda</th>
                                <th scope="col">Realizar Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for processo in processos %}
                                <tr>
                                    <td>{{processo.id or ''}}</td>
                                    <td>{{processo.nr_processo or ''}}</td>
                                    <td>{{processo.nome or ''}}</td>
                                    <td>{{processo.cpf or ''}}</td>
                                    <td>{{processo.tipo_determinacao or ''}}</td>
                                    <td>{{processo.protocolo_pat or ''}}</td>

                                    <td>
                                        {% if status_atualizado[processo.id] %}
                                            {% if status_atualizado[processo.id]['status_tarefa'] == "CONCLUIDA" %}
                                                <span class="badge rounded-pill text-bg-success">Concluída</span>
                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "PENDENTE" %}
                                                <span class="badge rounded-pill text-bg-primary">Pendente</span>
                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "CUMPRIMENTO_DE_EXIGENCIA" %}
                                                <span class="badge rounded-pill text-bg-warning">Em exigência</span>
                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "CANCELADA" %}
                                                <span class="badge rounded-pill text-bg-secondary">Cancelada</span>
                                            {% endif %}
                                        {% else %}
                                            ''
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if status_atualizado[processo.id] %}
                                            {{ status_atualizado[processo.id]['responsaveis'] or ''}}
                                        {% else %}
                                            {{ processo.nome_responsavel_pat or '' }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if status_atualizado[processo.id] %}
                                            {{ status_atualizado[processo.id]['nome_servico'] or ''}}
                                        {% else %}
                                            {{ processo.nome_servico_pat or '' }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if status_atualizado[processo.id] %}
                                            {{ status_atualizado[processo.id]['codigo_unidade'] or ''}}
                                        {% else %}
                                            {{ processo.nome_unidade_pat or '' }}
                                        {% endif %}
                                    </td>

                                    <td>{{processo.autoridade_coatora or ''}}</td>
                                    <td>{{processo.fase_demanda or ''}}</td>
                                    <td>
                                        {% if processo.prioridade_demanda == "Normal" %}
                                            <span class="badge rounded-pill text-bg-secondary">Normal</span>
                                        {% elif processo.prioridade_demanda == "Urgente" %}
                                            <span class="badge rounded-pill text-bg-danger">Urgente</span>
                                        {% endif %}
                                    </td>
                                    <td>{{processo.data_prazo.strftime("%d/%m/%Y") if processo.data_prazo else ''}}</td>
                                    <td>{{processo.data_cadastro.strftime("%d/%m/%Y") or ''}}</td>
                                    <td>{{processo.responsavel_demanda_user.usuario or ''}}</td>
                                    <td class="align-top">
                                        <div class="d-flex">
                                            <a href="{{url_for('detalhar_processo', id=processo.id)}}" class="btn d-inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalhar processo">
                                                <i class="fa-solid fa-magnifying-glass text-primary p-1"></i>
                                            </a>
                                            <a href="{{url_for('home', id=processo.id)}}" class="btn d-inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Anotações">
                                                <i class="fa-solid fa-note-sticky text-warning p-1"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="meus_processos" class="tab-pane">
            <div class="row" style="margin-top: 0px; margin-left: 0px; margin-right: 0px;">
                    <div id="tabela_meus_processos" class="tab-pane">
                        <div class="row" style="margin-top: 10px; margin-left: 0px; margin-right: 0px;">
                            <div class="table-responsive">
                                <table id="tabela_2" class="table table-striped table-hover table-borderless table-sm table align-middle compact" style="width:100%">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Processo Judicial</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Cpf</th>
                                                <th scope="col">Tipo de Determinação</th>
                                                <th scope="col">Protocolo PAT</th>
                                                <th scope="col">Status PAT</th>
                                                <th scope="col">Nome do Responsável</th>
                                                <th scope="col">Nome do Serviço</th>
                                                <th scope="col">Unidade da Tarefa</th>
                                                <th scope="col">Autoridade Coatora</th>
                                                <th scope="col">Fase da Demanda</th>
                                                <th scope="col">Prioridade</th>
                                                <th scope="col">Data Final Prazo</th>
                                                <th scope="col">Data de Cadastro</th>
                                                <th scope="col">Responsável Demanda</th>
                                                <th scope="col">Realizar Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for processo in meus_processos %}
                                        {% if processo.fase_demanda != "Finalizado" %}
                                                <tr>
                                                    <td>{{processo.id or ''}}</td>
                                                    <td>{{processo.nr_processo or ''}}</td>
                                                    <td>{{processo.nome or ''}}</td>
                                                    <td>{{processo.cpf or ''}}</td>
                                                    <td>{{processo.tipo_determinacao or ''}}</td>
                                                    <td>{{processo.protocolo_pat or ''}}</td>

                                                    <td>
                                                        {% if status_atualizado[processo.id] %}
                                                            {% if status_atualizado[processo.id]['status_tarefa'] == "CONCLUIDA" %}
                                                                <span class="badge rounded-pill text-bg-success">Concluída</span>
                                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "PENDENTE" %}
                                                                <span class="badge rounded-pill text-bg-primary">Pendente</span>
                                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "CUMPRIMENTO_DE_EXIGENCIA" %}
                                                                <span class="badge rounded-pill text-bg-warning">Em exigência</span>
                                                            {% elif status_atualizado[processo.id]['status_tarefa'] == "CANCELADA" %}
                                                                <span class="badge rounded-pill text-bg-secondary">Cancelada</span>
                                                            {% endif %}
                                                        {% else %}
                                                            ''
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if status_atualizado[processo.id] %}
                                                            {{ status_atualizado[processo.id]['responsaveis'] or ''}}
                                                        {% else %}
                                                            {{ processo.nome_responsavel_pat or '' }}
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if status_atualizado[processo.id] %}
                                                            {{ status_atualizado[processo.id]['nome_servico'] or ''}}
                                                        {% else %}
                                                            {{ processo.nome_servico_pat or '' }}
                                                        {% endif %}
                                                    </td>

                                                    <td>
                                                        {% if status_atualizado[processo.id] %}
                                                            {{ status_atualizado[processo.id]['codigo_unidade'] or ''}}
                                                        {% else %}
                                                            {{ processo.nome_unidade_pat or '' }}
                                                        {% endif %}
                                                    </td>

                                                    <td>{{processo.autoridade_coatora or ''}}</td>
                                                    <td>{{processo.fase_demanda or ''}}</td>
                                                    <td>
                                                        {% if processo.prioridade_demanda == "Normal" %}
                                                            <span class="badge rounded-pill text-bg-secondary">Normal</span>
                                                        {% elif processo.prioridade_demanda == "Urgente" %}
                                                            <span class="badge rounded-pill text-bg-danger">Urgente</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{processo.data_prazo.strftime("%d/%m/%Y") if processo.data_prazo else ''}}</td>
                                                    <td>{{processo.data_cadastro.strftime("%d/%m/%Y") or ''}}</td>
                                                    <td>{{processo.responsavel_demanda_user.usuario or ''}}</td>
                                                    <td class="align-top">
                                                        <div class="d-flex">
                                                            <a href="{{url_for('detalhar_processo', id=processo.id)}}" class="btn d-inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Detalhar processo">
                                                                <i class="fa-solid fa-magnifying-glass text-primary p-1"></i>
                                                            </a>
                                                            <a href="{{url_for('home', id=processo.id)}}" class="btn d-inline p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Anotações">
                                                                <i class="fa-solid fa-note-sticky text-warning p-1"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
