{% extends 'base.html' %}

{% block titulo %}
Dashboard
{% endblock %}

{% block conteudo %}

<title>Gráfico Plotly com Flask</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<h6>Gráfico Plotly com Flask</h6>

<div id="plotly-graph"></div>
<script>
    var graphJSON = {{ grafico2 | tojson | safe }};
    Plotly.plot('plotly-graph', JSON.parse(graphJSON), {});
</script>

<select id="month-select">
    <option value="1">Janeiro</option>
    <option value="2">Fevereiro</option>
    <!-- Adicione opções para todos os meses -->
</select>

<div id="plotly-graph2"></div>
<script>
    var graphJSON = {{ grafico3 | tojson | safe }};
    Plotly.plot('plotly-graph2', JSON.parse(graphJSON), {});
</script>

<div id="plotly-graph3"></div>

<script>
    var graphJSON = {{ grafico_processos_por_dia | tojson | safe }};
    Plotly.plot('plotly-graph3', JSON.parse(graphJSON), {});

    var graphJSON = {{ grafico_processos_concluidos_por_dia | tojson | safe }};
    Plotly.plot('plotly-graph3', JSON.parse(graphJSON), {});
</script>



{% endblock %}