{% extends 'base.html' %}

{% block titulo %}
Cadastro de Servidores
{% endblock %}

{% block conteudo %}

<style>
.container-menor {
  max-width: 600px; /* Ajuste o valor conforme necessário */
  margin: 0 auto; /* Centralizar o container horizontalmente, se desejado */
  padding: 20px; /* Adicione preenchimento interno, se desejado */
  background-color: #f0f0f0; /* Cor de fundo personalizada, se desejado */
  border: none; /* Remova a borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
  /* Outros estilos personalizados aqui */
}


/* Seletor para o placeholder em um input */
::placeholder {
    color: #ededed; /* Defina a cor desejada, como um cinza claro */
}
</style>


<div style="margin-top: 100px;">
  <div class="container container-menor mt-5">
  <div>
    <form class="form-group" method="POST">
      {{ form_designados.hidden_tag() }}
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h3 class="text-align: center">Cadastrar Servidor</h3>
          <hr>

          <div class="input-group mb-3">
            <span class="input-group-text" id="servidor">Usuário</span>
            {{ form_designados.nome_servidor_form(type="text", class="form-control", placeholder="Nome Completo") }}
            {% if form_designados.errors.nome_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.nome_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="siape">Siape</span>
            {{ form_designados.siape_servidor_form (type="text", class="form-control", placeholder="Siape") }}
            {% if form_designados.errors.siape_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.siape_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Telefone</span>
            {{ form_designados.contato_servidor_form(id="telefone", class="form-control", required="required", type="text", maxlength="13") }}
            {% if form_designados.errors.contato_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.contato_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="Email">Email</span>
            {{ form_designados.email_servidor_form(class="form-control", placeholder="Email") }}
            {% if form_designados.errors.email_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.email_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="Unidade">Unidade</span>
            {{ form_designados.unidade_servidor_form(class="form-control", placeholder="Unidade") }}
            {% if form_designados.errors.unidade_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.unidade_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="gex">UO da GEX do Servidor</span>
            {{ form_designados.gex_servidor_form(class="form-control", placeholder="UO da GEX do Servidor") }}
            {% if form_designados.errors.gex_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.gex_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="Email_Sard">Email SARD</span>
            {{ form_designados.email_sard_servidor_form(class="form-control", placeholder="Email SARD") }}
            {% if form_designados.errors.email_sard_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.email_sard_servidor_form }}</div>
            {% endif %}
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="Email_gex">Email GEX</span>
            {{ form_designados.email_gex_servidor_form(class="form-control", placeholder="Email Gex") }}
            {% if form_designados.errors.email_gex_servidor_form %}
              <div class="alert alert-danger">{{ form_designados.errors.email_gex_servidor_form }}</div>
            {% endif %}
          </div>


        </div>
      </div>

      <div class="mb-3 text-center">
        <a href="/designados" class="btn btn-danger btn-lg"><i class="bi bi-arrow-left"></i>Voltar</a>
        <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
      </div>

    </form>
  </div>
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let input = document.getElementById('telefone');

    input.addEventListener('input', function() {
        let inputValue = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
        let inputLength = inputValue.length;

        if (inputLength > 2 && inputLength <= 8) {
            input.value = inputValue.substring(0, 2) + ' ' + inputValue.substring(2);
        } else if (inputLength > 8 && inputLength <= 12) {
            input.value = inputValue.substring(0, 2) + ' ' + inputValue.substring(2, 7) + '-' + inputValue.substring(7);
        }
    });
});
</script>



{% endblock %}
